// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    color: #333;
    overflow-x: hidden;
    width: 100%;

    .nav-tabs .nav-link.active {
        background: transparent;
        border-bottom: 1px solid #fff;
    }
}

html body .btn.btn-danger { color: #fff !important; }
.img-list {
    max-width: 150px;
}

.order-filter {
    background: #fff;
    border: 1px solid #ccc;
    padding: 0 25px;
}

.admin {
    body {
        background: #fff;
        letter-spacing: 0px !important;
        color: #555 !important;
        font-weight: 200 !important;
        position: relative;
        height: 100%;
        min-height: 100vh;
        
        .btn-success { color: #fff; }

        .product-img {
            max-height: 150px;
            max-width: 150px;
        }

        .product-img-admin img {
            max-width: 100%;
        }
    }

    body, body p {
        font-family: $font-family-sans-serif;
        font-size: 0.9rem;
    }

    h1, h2, h3, h4, h5 {
        font-weight: 200; 
    }

    body a:not(.btn) {
        color: $red;
        text-decoration: none;
    }


    body .page-item.active .page-link {
        background: #38c172;
        border-color: #38c172;
    }
    // header

    .sidebar-toggler { margin-right: 20px; }

    .dd-right {
        left: auto;
        right: 0px;
    }

    input {
        border-radius: 2px !important;
        min-height: 2.75rem !important;
    }

    .hide { display: none; }
    .brand-small { color: $red; }
    .card-header {
        color: $red;
        font-size: 16px;
        font-weight: 400;
    }

    .main {
        margin-left: 0px;
        transition: 0.3s;

        .main-content {
            padding: 10px;

            h1 {
                font-size: 20px;
                font-weight: 400;
            }
        }
    }

    button:focus, a:focus {
        outline: none;
        box-shadow: none !important;
    }

    // sidebar

    .sidebar-content {
        background: #333;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 250px;
        overflow-x: hidden;
        transition: 0.3s;
        z-index: 100;

        .close-sidebar {
            color: #fff;
            font-size: 22px;
            right: 12px;
            position: absolute;
            text-decoration: none;
        }

        .side-logo {
            background: #222;
            border-bottom: 2px solid $red;
            .navbar-brand {
                color: #fff;
                font-weight: 200;
                padding: 13.5px;
            }
            
            .sidebar-content .navbar-brand:hover {
                color: #fff;
            }
        }

        .sidebar-link {
            border-top: 1px solid #353535;
            margin: 0;
            padding: 0;
            width: 250px;
            li {
                list-style-type: none;
                padding: 0px;

                a {
                    color: #fff;
                    display: block;
                    text-decoration: none;
                    padding: 10px;

                    span {
                        display: inline-block;
                        margin: 0 10px;
                    }
                }

                a:hover {
                    background: #000;
                    color: #fff;
                }

                .sub-links {
                    display: none;
                }
            }

            li.active {
                background: #222;
                a {
                    background: #222;
                    color: #fff;
                    span {
                        color: $red;
                    }
                }

                a:hover {
                    background: #000;
                }
                
                .sub-links {
                    display: block;
                    transition: 0.5s;
                    margin-left:-40px;
                    a {
                        padding-left: 20px;
                    }
                }
            }
        }
    }

    .designs img { max-width: 200px; }
    .designs td { vertical-align: middle; }
}

.seller {
    body {
        background: #fff;
        letter-spacing: 0px !important;
        color: #555 !important;
        font-weight: 200 !important;
        position: relative;
        height: 100%;
        min-height: 100vh;

        .btn-success { color: #fff; }
        .product-img {
            max-height: 150px;
            max-width: 150px;
        }

        .product-img-seller img {
            max-width: 100%;
        }

        .pay-now { color: #fff; }
    }

    body, body p {
        font-family: $font-family-sans-serif;
        font-size: 0.9rem;
    }

    h1, h2, h3, h4, h5 {
        font-weight: 200; 
    }

    body a:not(.btn) {
        color: $main-color;
        text-decoration: none;
    }


    body .page-item.active .page-link {
        background: #38c172;
        border-color: #38c172;
    }
    // header

    .sidebar-toggler { margin-right: 20px; }

    .dd-right {
        left: auto;
        right: 0px;
    }

    input {
        border-radius: 2px !important;
        min-height: 2.75rem !important;
    }

    .hide { display: none; }
    .brand-small { color: $main-color; }
    .card-header {
        color: $main-color;
        font-size: 16px;
        font-weight: 400;
    }

    .main {
        margin-left: 0px;
        transition: 0.3s;

        .main-content {
            padding: 10px;

            h1 {
                font-size: 20px;
                font-weight: 400;
            }
        }
    }

    button:focus, a:focus {
        outline: none;
        box-shadow: none !important;
    }

    // sidebar

    .sidebar-content {
        background: #333;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 250px;
        overflow-x: hidden;
        transition: 0.3s;
        z-index: 100;

        .close-sidebar {
            color: #fff;
            font-size: 22px;
            right: 12px;
            position: absolute;
            text-decoration: none;
        }

        .side-logo {
            background: #222;
            border-bottom: 2px solid $main-color;
            .navbar-brand {
                color: #fff;
                font-weight: 200;
                padding: 13.5px;
            }
            
            .sidebar-content .navbar-brand:hover {
                color: #fff;
            }
        }

        .sidebar-link {
            border-top: 1px solid #353535;
            margin: 0;
            padding: 0;
            width: 250px;
            li {
                list-style-type: none;
                padding: 0px;

                a {
                    color: #fff;
                    display: block;
                    text-decoration: none;
                    padding: 10px;

                    span {
                        display: inline-block;
                        margin: 0 10px;
                    }
                }

                a:hover {
                    background: #000;
                    color: #fff;
                }

                .sub-links {
                    display: none;
                }
            }

            li.active {
                background: #222;
                a {
                    background: #222;
                    color: #fff;
                    span {
                        color: $main-color;
                    }
                }

                a:hover {
                    background: #000;
                }
                
                .sub-links {
                    display: block;
                    transition: 0.5s;
                    margin-left:-40px;
                    a {
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}

.front {

    body { background: #fff;  }
    .navbar {
        padding: 10px 0 0 0;

        .navbar-brand span { color: $blue; }
    }

    .hero {
        img {
            width: 100%;
        }
    }

    .search-form  {
        input[type="text"] {
            border-radius: 0;
        }
        
        input[type="text"]:focus {
            outline: none;
            box-shadow: none;
        }
    }
    
    .hero-tagline {
        background: #3490dc;
        color: #fff;
        font-size: 19px;
        padding: 10px 20px;
        text-align: right;

        .btn {
            display: inline-block;
            margin-left: 10px;
        }
    }

    .content {
        .product-slider {
            margin: 15px 0;
            .slider-title {
                font-size: 19px;
            }

            .slider-body {
                margin-top: 10px;

                img { width: 100%; }
            }

            .product-item {
                margin: 25px 0;
            }

            .product-price {
                text-align: center;
            }
            
            .product-title {
                font-weight: bold;
                margin-top: 10px;
                text-align: center;

                a { color: #333; }
            }

            .product-image {
                border-bottom: 1px dashed #eee;
                min-height: 315px;
                padding-bottom: 15px;
            }
        }
    }

    .product-detail {
        .product-detail-image-main {
            img {
                width: 100%;
            }
        }

        .product-detail-price {
            font-size: 17px;
            font-weight: 400;
        }

        .buy-box-wrapper {
            .buy-box {
                background: #fbfbfb;
                border: 1px solid #eee;
                padding: 20px;
            }

            .add-to-cart-btn {
                border-radius: 0px;
                display: block;
                width: 100%;
            }
        }

        .product-detail-images {
            text-align: center;
            a {
                border: 1px solid #ddd;
                border-radius: 2px;
                display: inline-block;
                padding: 10px;
            }

            a:hover {
                opacity: 0.7;
            }
            
            img {
                max-width: 80px;
                max-height: 80px;
            }
        }

        .buy-box-detail {
            td,th {
                border: none;
                color: #999;
                font-size: 80%;
                padding: 0;
                text-align: center
            }
        }
    }

    .cart-wrapper {
        .g-total {
            span {
                display: inline-block;
                width: 80px;
            }
        }
    }

    .checkout-page {
        .order-summary {
            .row {
                margin-top: 5px;
                padding-top: 10px;
            }

            img {
                border: 1px solid #ddd;
                border-radius: 4px;
                max-height: 100px;
                max-width: 100px;
                padding: 10px;
            }
        }

        .form-control {
            border-radius: 0px;
            box-shadow: none;
            padding: 10px;
            height: 3em;
            outline: none;
        }

        .checkout-btn {
            border-radius: 0px;
            display: block;
            font-weight: bold;
            font-size: 21px;
            padding: 10px;
            width: 100%;
        }

        .payment-list {
            .card-header { background: #fff; }
            .payment-radio {
                display: inline-block;
                margin-right: 15px;
            }
        }

        .shipping-address .col-md-6 {
            margin-top: 10px;
        }
    }

    .invoice-order {
        .order-packages {
            img.product-img {
                max-width: 150px;
                max-height: 150px;
            }
        }
    }
}
