@import 'variables';
.seller {
    html body, html body input {
        color: #333;
        font-family: "Nunito", sans-serif !important;
        font-size: 0.9rem !important;
        letter-spacing: 0px !important;
    }

    .login-wrapper {
        display: table;
        height: calc(100vh);
        width: 100%;
    }

    .login-container {
        display: table-cell;
        vertical-align: middle;
    }

    .login-div {
        margin: auto;
        width: 350px;
    }

    h1, h2, h3, h4 {
        color: #555 !important;
        font-family: "Nunito", sans-serif;
        margin: 0px !important;
        padding: 0px !important;
    }

    h4 {
        font-size: 17px;
        font-weight: 400
    }

    h4 small {
        color: $main-color;
    }

    .login-div [type="submit"] {
        width: 100%;
    }

    .btn-primary {
        background: $main-color !important;
        border-color: $main-color !important;
    }

    .btn-primary:hover {
        background: $main-color !important;
    }
}

.front {
    html body, html body input {
        color: #333;
        font-family: "Nunito", sans-serif !important;
        font-size: 0.9rem !important;
        letter-spacing: 0px !important;
    }

    .login-wrapper {
        display: table;
        height: calc(100vh);
        width: 100%;
    }

    .login-container {
        display: table-cell;
        vertical-align: middle;
    }

    .login-div {
        margin: auto;
        width: 350px;
    }

    h1, h2, h3, h4 {
        color: #555 !important;
        font-family: "Nunito", sans-serif;
        margin: 0px !important;
        padding: 0px !important;
    }

    h4 {
        font-size: 17px;
        font-weight: 400
    }

    h4 small {
        color: $blue;
    }

    .login-div [type="submit"] {
        width: 100%;
    }

    .btn-primary {
        background: $blue !important;
        border-color: $blue !important;
    }

    .btn-primary:hover {
        background: $blue !important;
    }
}
.admin {
    html body, html body input {
        color: #333;
        font-family: "Nunito", sans-serif !important;
        font-size: 0.9rem !important;
        letter-spacing: 0px !important;
    }

    .login-wrapper {
        display: table;
        height: calc(100vh);
        width: 100%;
    }

    .login-container {
        display: table-cell;
        vertical-align: middle;
    }

    .login-div {
        margin: auto;
        width: 350px;
    }

    h1, h2, h3, h4 {
        color: #555 !important;
        font-family: "Nunito", sans-serif;
        margin: 0px !important;
        padding: 0px !important;
    }

    h4 {
        font-size: 17px;
        font-weight: 400
    }

    h4 small {
        color: $red;
    }

    .login-div [type="submit"] {
        width: 100%;
    }

    .btn-primary {
        background: $red !important;
        border-color: $red !important;
    }

    .btn-primary:hover {
        background: $red !important;
    }
}
