.seller html body,
.seller html body input {
  color: #333;
  font-family: "Nunito", sans-serif !important;
  font-size: 0.9rem !important;
  letter-spacing: 0px !important;
}

.seller .login-wrapper {
  display: table;
  height: calc(100vh);
  width: 100%;
}

.seller .login-container {
  display: table-cell;
  vertical-align: middle;
}

.seller .login-div {
  margin: auto;
  width: 350px;
}

.seller h1,
.seller h2,
.seller h3,
.seller h4 {
  color: #555 !important;
  font-family: "Nunito", sans-serif;
  margin: 0px !important;
  padding: 0px !important;
}

.seller h4 {
  font-size: 17px;
  font-weight: 400;
}

.seller h4 small {
  color: #4CAF50;
}

.seller .login-div [type=submit] {
  width: 100%;
}

.seller .btn-primary {
  background: #4CAF50 !important;
  border-color: #4CAF50 !important;
}

.seller .btn-primary:hover {
  background: #4CAF50 !important;
}

.front html body,
.front html body input {
  color: #333;
  font-family: "Nunito", sans-serif !important;
  font-size: 0.9rem !important;
  letter-spacing: 0px !important;
}

.front .login-wrapper {
  display: table;
  height: calc(100vh);
  width: 100%;
}

.front .login-container {
  display: table-cell;
  vertical-align: middle;
}

.front .login-div {
  margin: auto;
  width: 350px;
}

.front h1,
.front h2,
.front h3,
.front h4 {
  color: #555 !important;
  font-family: "Nunito", sans-serif;
  margin: 0px !important;
  padding: 0px !important;
}

.front h4 {
  font-size: 17px;
  font-weight: 400;
}

.front h4 small {
  color: #3490dc;
}

.front .login-div [type=submit] {
  width: 100%;
}

.front .btn-primary {
  background: #3490dc !important;
  border-color: #3490dc !important;
}

.front .btn-primary:hover {
  background: #3490dc !important;
}

.admin html body,
.admin html body input {
  color: #333;
  font-family: "Nunito", sans-serif !important;
  font-size: 0.9rem !important;
  letter-spacing: 0px !important;
}

.admin .login-wrapper {
  display: table;
  height: calc(100vh);
  width: 100%;
}

.admin .login-container {
  display: table-cell;
  vertical-align: middle;
}

.admin .login-div {
  margin: auto;
  width: 350px;
}

.admin h1,
.admin h2,
.admin h3,
.admin h4 {
  color: #555 !important;
  font-family: "Nunito", sans-serif;
  margin: 0px !important;
  padding: 0px !important;
}

.admin h4 {
  font-size: 17px;
  font-weight: 400;
}

.admin h4 small {
  color: #e3342f;
}

.admin .login-div [type=submit] {
  width: 100%;
}

.admin .btn-primary {
  background: #e3342f !important;
  border-color: #e3342f !important;
}

.admin .btn-primary:hover {
  background: #e3342f !important;
}

